{{ 'component-card.css' | asset_url | stylesheet_tag }}
{{ 'component-price.css' | asset_url | stylesheet_tag }}

<link rel="stylesheet" href="{{ 'component-slider.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'template-collection.css' | asset_url }}" media="print" onload="this.media='all'">

<noscript>{{ 'component-slider.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'template-collection.css' | asset_url | stylesheet_tag }}</noscript>

{%- style -%}
.section-{{ section.id }}-padding {
padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;

}

.sidebar{
display: flex;
flex-direction: column;


}



.sidebar a{
text-decoration:none;
color: #F57325;
font-weight: bold;
padding: 1.5rem 4.5rem 1.5rem 3rem;
}

.sidebar a:hover {
background-color:#F57325;
color: #fff;
}

#card-wrapper{
  width: 100% !important;
}

#Slider-{{ section.id }}{
  display: grid !important;
  grid-template-columns: repeat(4,1fr) !important;
}

.burger-menu{
  display:none;
  
}


@media screen and (min-width: 750px) {
.section-{{ section.id }}-padding {
padding-top: {{ section.settings.padding_top }}px;
padding-bottom: {{ section.settings.padding_bottom }}px;
}
}

@media screen and (max-width: 749px) {
  #Slider-{{ section.id }}{
    display: grid !important;
    grid-template-columns: repeat(2,1fr) !important;
  }
  .sidebar{
    display: none;
  }
  .burger-menu{
    display:block !important;
  }
 
}



{%- endstyle -%}

{% style %}
#menuToggle
{

  position: relative;
  top: 50px;
  left: 50px;
  
  z-index: 1;
  
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle a
{
  text-decoration: none;
  color: #fff;
  
  transition: color 0.3s ease;
}

#menuToggle a:hover
{
  color: tomato;
}


#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  
  cursor: pointer;
  
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  
  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  
  background: #F57325;
  border-radius: 3px;
  
  z-index: 1;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #fff;
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu
{
  position: absolute;
  width: 300px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  
  background: #F57325;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
  padding: 10px 0;
  font-size: 22px;
}

/*
 * And let's slide it in from the left
 */
#menuToggle input:checked ~ ul
{
  transform: none;
}

{% endstyle %}

{%- liquid
assign products_to_display = section.settings.collection.all_products_count

if section.settings.collection.all_products_count > section.settings.products_to_show
assign products_to_display = section.settings.products_to_show
assign more_in_collection = true
endif
-%}

<div class="color-{{ section.settings.color_scheme }} isolate gradient" style=" display: flex ">
  <div class="sidebar">
    <!--<ul> -->
    
    <!--<li> -->
    <!--
        These control flow tags check to see if there is a featured image for a collection.
        If there isn't one, then we assign the image from the first product in the collection.
      -->
      {%- for collection in collections -%}
    {%- if collection.image -%}
    {%- assign collection_image = collection.image -%}
    {%- elsif collection.products.first and collection.products.first.images != empty -%}
    {%- assign collection_image = collection.products.first.featured_image -%}
    {%- else -%}
    {%- assign collection_image = blank -%}
    {%- endif -%}
    {% if collection.title %}
    {% assign collection_title = collection.title %}
    {% endif %}
    {%- endfor -%}
    


    <a href="https://overdoughs.ph/pages/pages-mini-chonky-cookies">
      {{ collection.title }}Mini Chonky Cookies
    </a>


    <a href="https://overdoughsph.myshopify.com/pages/pages-crinkles">
      {{ collection.title }}Crinkles
    </a>


    <a href="https://overdoughs.ph/pages/pages-od-cream-bavarian-doughnuts">
      {{ collection.title }}OD Bavarian Cream Doughnuts
    </a>


    <a href="https://overdoughs.ph/pages/pages-spanish-bread">
      {{ collection.title }}OD Spanish Bread
    </a>


    <a href="https://overdoughs.ph/pages/pages-od-sourdough-pizza">
      {{ collection.title }}OD Sourdough Pizza
    </a>


    <a href="https://overdoughs.ph/pages/pages-chicken-combos">
      {{ collection.title }}Chicken & Combos
    </a>


    <a href="https://overdoughs.ph/pages/pages-od-fat-fries">
      {{ collection.title }}OD Fat Fries
    </a>

    <a href="https://overdoughs.ph/pages/pages-elait-icecream">
      {{ collection.title }}Elait Ice Cream
    </a>



    <a href="https://overdoughs.ph/pages/order-now">
      {{ collection.title }}Bottled Drinks
    </a>














    <!--</li> -->

    <!--</ul> -->
  </div>
  
<div class="burger-menu">
  <div id="menuToggle">
    <!--
    A fake / hidden checkbox is used as click reciever,
    so you can use the :checked selector on it.
    -->
    <input type="checkbox" />
    
    <!--
    Some spans to act as a hamburger.
    
    They are acting like a real hamburger,
    not that McDonalds stuff.
    -->
    <span></span>
    <span></span>
    <span></span>
    
    <!--
    Too bad the menu has to be inside of the button
    but hey, it's pure CSS magic.
    -->
    <ul id="menu">
      <a href="https://overdoughs.ph/pages/pages-mini-chonky-cookies">
        <li>Mini Chonky Cookies</li>
      </a>
    
    
      <a href="https://overdoughsph.myshopify.com/pages/pages-crinkles">
        <li>Crinkles</li>
      </a>
    
    
      <a href="https://overdoughs.ph/pages/pages-od-cream-bavarian-doughnuts">
        <li>OD Bavarian Cream Doughnuts</li>
      </a>
    
    
      <a href="https://overdoughs.ph/pages/pages-spanish-bread">
        <li>OD Spanish Bread</li>
      </a>
    
    
      <a href="https://overdoughs.ph/pages/pages-od-sourdough-pizza">
        <li>OD Sourdough Pizza</li>
      </a>
    
    
      <a href="https://overdoughs.ph/pages/pages-chicken-combos">
        <li>Chicken & Combos</li>
      </a>
    
    
      <a href="https://overdoughs.ph/pages/pages-od-fat-fries">
        <li>OD Fat Fries</li>
      </a>
    
      <a href="https://overdoughs.ph/pages/pages-elait-icecream">
        <li>Elait Ice Cream</li>
      </a>
    
    
    
      <a href="https://overdoughs.ph/pages/order-now">
       <li>Bottled Drinks</li> 
      </a>
    </ul>
  </div>

  </a>
</div>


  <div id="card-wrapper"
    class="collection page-width{% if section.settings.swipe_on_mobile == true and section.settings.collection.all_products_count > 2 and section.settings.products_to_show > 2 %} page-width-desktop{% endif %} section-{{ section.id }}-padding">
    {% unless section.settings.title == blank %}
    <div
      class="title-wrapper-with-link{% if section.settings.title == blank %} title-wrapper-with-link--no-heading{% endif %}{% if section.settings.collection.all_products_count > 2 and section.settings.swipe_on_mobile and section.settings.products_to_show > 2 %} title-wrapper--self-padded-tablet-down{% endif %} title-wrapper--no-top-margin">
      <h2 class="title{% if section.settings.title == blank %} title--no-heading{% endif %}">{{ section.settings.title |
        escape }}</h2>

      {%- if section.settings.show_view_all and section.settings.swipe_on_mobile and more_in_collection -%}
      <a href="{{ section.settings.collection.url }}" class="link underlined-link large-up-hide">{{
        'sections.featured_collection.view_all' | t }}</a>
      {%- endif -%}
    </div>
    {% endunless %}

    <slider-component class="slider-mobile-gutter">
      <ul id="Slider-{{ section.id }}"
        class="grid grid--4-col product-grid{% if products_to_display == 4 or section.settings.collection == blank %} grid--2-col-tablet grid--4-col-desktop{% else %} grid--3-col-tablet{% endif %}{% if products_to_display > 5 %} grid--one-third-max grid--4-col-desktop grid--quarter-max{% endif %}{% if section.settings.collection.all_products_count > 2 and section.settings.swipe_on_mobile and section.settings.products_to_show > 2 %} slider slider--tablet grid--peek{% endif %}"
        role="list">
        {%- for product in section.settings.collection.products limit: section.settings.products_to_show -%}
        <li id="Slide-{{ section.id }}-{{ forloop.index }}"
          class="grid__item2{% if section.settings.collection.all_products_count > 2 and section.settings.swipe_on_mobile and section.settings.products_to_show > 2 %} slider__slide{% endif %}">
          {% render 'card-product',
          card_product: product,
          media_aspect_ratio: section.settings.image_ratio,
          show_secondary_image: section.settings.show_secondary_image,
          show_vendor: section.settings.show_vendor,
          show_rating: section.settings.show_rating
          
          %}
        </li>
        {%- else -%}
        {%- for i in (1..4) -%}
        <li class="grid__item2">
          {% render 'card-product', show_vendor: section.settings.show_vendor %}
        </li>
        {%- endfor -%}
        {%- endfor -%}
      </ul>
      {%- if section.settings.collection.all_products_count > 2 and section.settings.swipe_on_mobile and
      section.settings.products_to_show > 2 -%}
      <div
        class="slider-buttons no-js-hidden{% if section.settings.collection.all_products_count < 4 %} medium-hide{% endif %}{% if section.settings.collection.all_products_count < 3 %} small-hide{% endif %}">
        <button type="button" class="slider-button slider-button--prev" name="previous"
          aria-label="{{ 'general.slider.previous_slide' | t }}">{% render 'icon-caret' %}</button>
        <div class="slider-counter caption">
          <span class="slider-counter--current">1</span>
          <span aria-hidden="true"> / </span>
          <span class="visually-hidden">{{ 'general.slider.of' | t }}</span>
          <span class="slider-counter--total">{{ products_to_display }}</span>
        </div>
        <button type="button" class="slider-button slider-button--next" name="next"
          aria-label="{{ 'general.slider.next_slide' | t }}">{% render 'icon-caret' %}</button>
      </div>
      {%- endif -%}
    </slider-component>

    {%- if section.settings.show_view_all and more_in_collection -%}
    <div class="center collection__view-all{% if section.settings.swipe_on_mobile %} small-hide medium-hide{% endif %}">
      <a href="{{ section.settings.collection.url }}" class="button"
        aria-label="{{ 'sections.featured_collection.view_all_label' | t: collection_name: section.settings.collection.title }}">
        {{ 'sections.featured_collection.view_all' | t }}
      </a>
    </div>
    {%- endif -%}
  </div>
</div>

{% schema %}
{
"name": "t:sections.featured-collection.name",
"tag": "section",
"class": "section",
"settings": [
{
"type": "text",
"id": "title",
"default": "Featured collection",
"label": "t:sections.featured-collection.settings.title.label"
},
{
"type": "collection",
"id": "collection",
"label": "t:sections.featured-collection.settings.collection.label"
},
{
"type": "range",
"id": "products_to_show",
"min": 2,
"max": 12,
"step": 2,
"default": 4,
"label": "t:sections.featured-collection.settings.products_to_show.label"
},
{
"type": "select",
"id": "color_scheme",
"options": [
{
"value": "accent-1",
"label": "t:sections.all.colors.accent_1.label"
},
{
"value": "accent-2",
"label": "t:sections.all.colors.accent_2.label"
},
{
"value": "background-1",
"label": "t:sections.all.colors.background_1.label"
},
{
"value": "background-2",
"label": "t:sections.all.colors.background_2.label"
},
{
"value": "inverse",
"label": "t:sections.all.colors.inverse.label"
}
],
"default": "background-1",
"label": "t:sections.all.colors.label",
"info": "t:sections.all.colors.has_cards_info"
},
{
"type": "checkbox",
"id": "show_view_all",
"default": true,
"label": "t:sections.featured-collection.settings.show_view_all.label"
},
{
"type": "checkbox",
"id": "swipe_on_mobile",
"default": false,
"label": "t:sections.featured-collection.settings.swipe_on_mobile.label"
},
{
"type": "header",
"content": "t:sections.featured-collection.settings.header.content"
},
{
"type": "select",
"id": "image_ratio",
"options": [
{
"value": "adapt",
"label": "t:sections.featured-collection.settings.image_ratio.options__1.label"
},
{
"value": "portrait",
"label": "t:sections.featured-collection.settings.image_ratio.options__2.label"
},
{
"value": "square",
"label": "t:sections.featured-collection.settings.image_ratio.options__3.label"
}
],
"default": "adapt",
"label": "t:sections.featured-collection.settings.image_ratio.label"
},
{
"type": "checkbox",
"id": "show_secondary_image",
"default": false,
"label": "t:sections.featured-collection.settings.show_secondary_image.label"
},
{
"type": "checkbox",
"id": "show_vendor",
"default": false,
"label": "t:sections.featured-collection.settings.show_vendor.label"
},
{
"type": "checkbox",
"id": "show_rating",
"default": false,
"label": "t:sections.featured-collection.settings.show_rating.label",
"info": "t:sections.featured-collection.settings.show_rating.info"
},
{
"type": "header",
"content": "t:sections.all.padding.section_padding_heading"
},
{
"type": "range",
"id": "padding_top",
"min": 0,
"max": 100,
"step": 4,
"unit": "px",
"label": "t:sections.all.padding.padding_top",
"default": 36
},
{
"type": "range",
"id": "padding_bottom",
"min": 0,
"max": 100,
"step": 4,
"unit": "px",
"label": "t:sections.all.padding.padding_bottom",
"default": 36
}
],
"presets": [
{
"name": "t:sections.featured-collection.presets.name"
}
]
}
{% endschema %}